user nginx;

error_log /var/log/nginx/error.log notice;
pid /var/run/nginx.pid;

worker_processes 1;

events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
  '$status $body_bytes_sent "$http_referer" '
  '"$http_user_agent" "$http_x_forwarded_for"';

  access_log /var/log/nginx/access.log main;

  sendfile on;
  keepalive_timeout ${KEEPALIVE_TIMEOUT:-65};

  
  server {
    listen 8080;
    server_name frontend;
    root ${SERVE_ROOT:-/usr/share/nginx/html};

    # returns the frontend version
    # disabled cache and using version as etag for efficient querying
    location /version {
      if ($ENABLE_VERSION = 'true') {
        add_header X-Static-Version "$VERSION";
        add_header Cache-Control "no-cache";
        return 200;
      }
      return 404;
    }

    location / {
      if ($ENABLE_IFRAME = 'false') {
        add_header X-Frame-Options "DENY";
      } else {
        add_header X-Frame-Options "SAMEORIGIN";
      }

      add_header Strict-Transport-Security "${STRICT_TRANSPORT_SECURITY}";
      add_header X-XSS-Protection "0"; #deprecated, recommended to explicitly disable
      add_header Referrer-Policy "${REFERRER_POLICY}";

      # cache static assets
      location ~ /${STATIC_FOLDER:-static}/.*$ {
        if ($CACHE_MAX_AGE) {
          add_header Cache-Control "max-age=$CACHE_MAX_AGE";
        }
      }

      if ($TRY_FILES_ENABLED = 'true') {
        try_files $uri $uri/ $uri.html /index.html;
      }
    }
  }

  include /etc/nginx/conf.d/*.conf;
}
